h1.display-4,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  margin: 0px 0px 24px 0px;
}

.btn {
  font-weight: 700;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

div.container {
  margin-top: 48px;
}

div.manage-actions {
  display: flex;
}

div.manage-actions .btn {
  margin-right: 8px;
}
